*{
  margin: 0;
  padding: 0;
}

  body {
    color:white;
     font-family: 'Poppins', sans-serif;
  }
  
  ul {
    list-style: none;
  }
  
  .header{
 display: flex;
    background:#cc0000;
    color:white;
   justify-content: flex-end;
   align-items: center;
    width:100%;
   height: 60px;
  }
  .navlist{

    display:flex;
    flex-direction: row;
     margin: 0 1rem;
   
  }
  .navlist a {
  
  font-size: 1.5rem; /* default:16px */
    padding: 2rem;
  }
  .navlist a:hover {
   font-weight: bold;
    
  }
  .welcome{

    background-repeat:no-repeat;
      background-size: 1300px 700px;
    background-image:url("bg.jpg");
    display:flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
   
  }
  .p1{
    font-weight: 700;
    color:white;
    margin-top: 20px;
    margin-right: 60px;
    font-family:'Raleway', sans-serif;
    text-align: right;
     font-size: 100px;
  }
  .quote{
  text-align: right;
  font-style: italic;
    color:white;
    font-size: 20px;
  font-weight: 200;
  }
  .boooks{
    text-align: center;
    padding: 10rem 2rem;
    background:#ccddff;
    
  }
  .book-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 100%;
  }
  .book-img {
    height: calc(100% - 10rem);
    width:100%;
  
  }
  .book-link {
    font-size: 2rem;
  }
  .code {
    color:white ;
  }
  
  .boooks:hover .code {
    color: black;
  }
  .img-title{
    padding: 2rem 0.5rem;
   
  }
  
  .btn {
    padding: 1rem 2rem;
    border-radius: 5px;
    color:white;
  }

  .explore {
    font-size: 2rem;
    background:#303841 ;
  }
  .explore:hover {
    background:#cc0000 ;
  }
  .contact{
  padding: 10px;
    height: 300px;
    background:#303841;
  }
  .contact-link{
  
  display:flex;
  flex-direction: row;

justify-content: center;
margin-top: 50px; 
  }
  .contact-details{
    font-size: 2rem;
    padding:50px;
  }
  .contact-details:hover {
    transform: translateY(8px);
  }
  a {
    text-decoration: none;
   color:white;
  }
 